.top-home {
  margin: 0 auto;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("../images/home_background.png") no-repeat center center/cover;
}
.top-home h1 {
  text-align: center;
  position: relative;
  bottom: 2rem;
  color: #ffffff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 750;
}
.top-home p {
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  position: relative;
  top: 2rem;
}
