{% extends "layout.twig" %}

{% block title %}Accueil - The League{% endblock %}

{% block content %}
    <section class="team-section">
        <h3>LES TEAMS DE LA LEAGUE</h3>
    </section>

    <section class="team-section">
        <h2>{{ section_title }}</h2>
        <div class="team-cards">
            {% for team in teams %}
                {% include 'components/team-card.twig' with { team: team } %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
