{% extends "layout.twig" %}

{% block title %}Équipes - The League{% endblock %}

{% block content %}
    <h1>Les équipes</h1>
    <div class="teams-container">
        {% for team in teams %}
            {% include 'components/card.twig' with { team: team } %}
        {% endfor %}
    </div>
{% endblock %}
