<header>
    <h1>Bienvenue sur The League</h1>
    <nav>
        <a href="#teams">Les Teams</a>
        <a href="#players">Les Players</a>
        <a href="#matches">Les Matches</a>
    </nav>
</header>
